body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    color: #69bb7e;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #69bb7e;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="password"] {
    color: #69bb7e;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #69bb7e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    left: 150px;
  }

  input[type="submit"]:hover {
    background-color: #69bb7e;
  }